@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
html{
scroll-behavior:smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.gradient-bg-welcome {
  background-color:#000000;
  /* background-image: url("../images/background2.png"); */
  /* background-repeat: repeat; */
}

.defi-heading{

    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circles{
  width: 500px;
}



.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}


.white-glassmorphism {
  background: rgba(53, 8, 233, 0.155);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));}
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.link {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}

.title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}

.link:hover{
  color: #ff9c00;
      transition: 200ms ease-in;
}


.heading{
  opacity: 1;
}

.row{
  opacity: .6;
  border: 1px solid;
  box-shadow: 2px 4px 1px 2px #888888
}

.info{

    font-size: 12px;
    line-height: 17px;

}
.Card{
  width: 45%;
  word-wrap: break-word;
}

.make_transaction{
  margin-left : 50px;
  width: 600px !important;
  text-align: center;
  
}

.Card3:hover
{
  transform: scale(1.1);
  background-color: #262626;
}

.Card1:hover
{
  transform: scale(1.1);
  background-color: #262626;
}

.nav-element:hover{
  transform: scale(1.2);
}

.Card2, .Card3, .Card1{
  transition: transform .2s; /* Animation */
  border:1px solid black;
  border-radius: 10px;
}

.Card2:hover {
  transform: scale(1.1);
  background-color: #262626;; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.details{
  border: 1px dotted white;
}

.show_value{
  width: 500px;

}


@tailwind base;
@tailwind components;
@tailwind utilities;